<div id="curHangmanContainer" *ngIf="authService.currentUser">
  <div>Hangman: {{hangman}}</div>
  <div hidden>Next hangman: {{nextHangman}}</div>
  <button hidden *ngIf='authService.isLoggedIn && nextHangman==="Evil AI"&&joinedGame && users &&users.length >= 3' (click)="beHangman()">Become next hangman now!</button>
  <p></p>
</div>
<div id="joinGameContainer">
  <button (click)="joinGame()" *ngIf="authService.isLoggedIn && !joinedGame">Join game</button>
  <p *ngIf="!authService.isLoggedIn">You need to login to join game</p>
  <!-- div id="welcome" *ngIf="authService.isLoggedIn && joinedGame && welcome">{{welcome}}
</div -->
</div>
<div id="gameContainer" *ngIf="authService.isLoggedIn && joinedGame">
  <div id="roundHighscore" class="floatRight">
    This rounds scores:
    <div class="roundHighscoreRow" *ngFor="let hsUser of users">{{hsUser.username}}: {{hsUser.score}}</div>
  </div>
  <div id="audienceContainer" *ngIf="!isHangman">
    <h2>Word: {{theWord}}</h2>
    <h2>Guesses before game over: {{guessLeft}}</h2>
    <h4>Guess missing letter or correct word to earn points</h4>
    <form>
    <div *ngIf="gameRunning && guessLeft >0">
      <input [(ngModel)]="userInput" name="userInput" placeholder='a-z, "banana"'>
      <button (click)="sendGuess()"  type="submit" >Guess</button>
    </div>
  </form>
    <div id="hangmanContainer" *ngIf="isHangman"></div>
  </div>

  <div id="chat" *ngFor="let msg of gameChat.slice().reverse()">{{msg}}</div>
</div>
