<div style="text-align:center">
  <h1>
    Hangman game
  </h1>
</div>
<div id="curHangmanContainer" *ngIf="authService.currentUser">
  <div class="floatLeft"> Hangman: {{curHangman}}</div>
  <button *ngIf='authService.isLoggedIn' class="floatRight">Apply now!</button>
</div>
<nav>
  <a routerLink="/game" routerLinkActive="active-link">The game</a>
  <a routerLink="/highscore" routerLinkActive="active-link">Highscore</a>


  <a *ngIf="authService.isLoggedIn" routerLink="/account" routerLinkActive="active-link">My account</a>
  <a *ngIf="authService.isLoggedIn && authService.currentUser.isAdmin" routerLink="/admin" routerLinkActive="active-link">Admin tools</a>
<!-- *ngIf="authService.isLoggedIn && authService.currentUser.isAdmin" -->
  <a *ngIf="false" routerLink="/game" routerLinkActive="active-link">Contribute by adding new words ???</a>

  <a *ngIf="authService.isLoggedIn" routerLink="/highscore" (click)="authService.logout()">Logout</a>
  <a *ngIf="!authService.isLoggedIn" routerLink="/login" routerLinkActive="active-link">Login</a>

</nav> 
<div id="routerOutlet">
    <router-outlet></router-outlet>
</div>


